/* new */

.banner {
  width:100%;
  text-align: right;
  background-image: url('../images/banner.jpg');
  background-size: cover;
}

.headerrow {
  width:100%;
  height:10%;
  min-width: 500px;
  min-height: 80px;
}

.headbar {
  width: 30%;
  background-color: #03376a;
  border: 2px solid black;
  float:left;
  margin: 3px 1px;
  text-align: center;
  color: #fff;
  position:relative;
}

.headbar.minwidth {
  min-width: 100px;
}

.buttonbar {
  width: 100%;
  min-height: 30px;
  background-color: #b12818;
  border: 2px solid black;
  float:left;
  margin: 3px 1px 0;
  text-align: right;
  color: #fff;
  position:relative;
}

.navbar {
  width: 100%;
  background-color: #b12818;

  float:left;
  margin: 8px 8px 10;
  text-align: right;
  color: #fff;
}

.navbar-nav {
  width:100%;
  text-align: left;
  font-size: 25px;

}

.navbar-nav a {
  text-align: center;
  min-width: 10%;
  display: block;
  padding: 0 10px;
  color: #fff;
  float: left;
  text-decoration: none;
  /*font-size: 25px;*/
}

.navbar-nav a:hover {
  color: #000;
  background-color: #ffec9f;

}

.buttonbar,.navbar.minwidth {
  min-width: 200px;
}


.CB-linkbtn2 {

  border-radius: 1px;
  background-color: #056571;
  color: #fff;
  margin-top: 2px;
  margin-right: 2px;
}

.CB-linkbtn2:hover {
  background-color: #033940;
  opacity: .9;
  color: #fff;
}

/*body row*/
.contentrow {
  width:100%;
}

.sidebar {
  width: 30%;
  height: 90%;

  min-height: 300px;
  border-radius: 5px;
  background-color: #ccc;
  color: black;
  float:left;
  text-align: center;
  border: 2px solid black;
  margin: 1px 1px;
}
.sidebar-nav {
  width:100%;
  text-align: center;
}
.sidebar-nav:hover {
  background-color: #aaa;
}

.contentbar {
  width: 100%;
  background-color: #fff;
  /*border: 1px solid black;*/
  float:left;
  /*margin: 1px 1px;*/
  text-align: center;
}
.contentbar-nav {
  margin: auto;
  width: 70%;
  text-align: left;
  /*padding-left: 15px;*/
}

.footerrow {
  width: 100%;
}
.footerbar {
  width: 100%;
  float:left;
  border: 2px solid black;
  background-color: #03376a;
  text-align: center;
  color:#fff;
  font-size: 15px;
}
.footerbar p {
  margin: 5px auto;
}
.footerbar a {
  color:#ffa;
  text-decoration: none;
}
.footerbar li {
  display: inline;
}


/*Button going up css*/

#fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.upButton {
  width: 4px;
  height: 4px;
}

/*Side Nav*/

.Fixed {
	position: fixed;
	bottom: 250px;
	right: 0px
}

.floatNav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: red;
}

.floatNav li {
float: center;
}

.floatNav li a {
display: block;
color: white;
text-align: center;
padding: 16px 5px;
text-decoration: none;
}

.floatNav li a:hover {
background-color: Lightblue;
}

.floatNav li a:hover:not(.active) {
background-color: Lightgreen;
}

.active {
background-color: grey;
}

/*card*/

.hpcard {
  display:inline-block;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 10%; /*change size of card directly*/
  border-radius: 5px;
  border-style: solid;
  border-color: lightblue;
  min-width: 400px; /*change minimum size of card */
}

img {
border-radius: 5px 5px 0 0;
width:100%;
height:150px;
}

.hpcard:hover {
  box-shadow: 0 8px 16px 0 lightblue;
}


.hpcontainer {
  padding: 4px 16px;
  text-align: center;
}

.txt_center {
  text-align: center
}

.hpbutton {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.hpbuttonGreen {
  background-color: white;
  color: black;
  border: 1px solid lightblue;
}

.hpbuttonGreen:hover {
  background-color: green;
  color: white;
}
