
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Research & Reading MVP NAV</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="coding bonobos navigation">
  </head>

  <body>
    <!--Header-->
    <!--Banner-->
    <div class="banner">
      <img src="images/cdubanner.png" id="Top_of_page" alt="cdubanner" width="100%">
      <button class="CB-linkbtn2" type="button"><b>Contact Us</b></button>
      <a href="https://portal.cdu.edu.au/my.policy"><button class="CB-linkbtn2" type="button"><b>CDU Portal Login</b></button></a>
    </div>
    <!--navigation-->
    <div class="navbar minwidth">
      <div class="navbar-nav">
        <a href="research_and_reading_MVP.html">Home</a>
        <a href="#wrapper">Researching</a>
        <a href="#wrapper">Reading</a>
        <a href="http://learnline.cdu.edu.au/studyskills/index.html">StudySkills</a>
      </div>
    </div>
    <!--Float Nav-->
    <div class="floatNav">
      <div id="floatBar">
        <div class="Fixed">
          <ul>
            <li><a href="research_and_reading_MVP.html" class="active" > HomePage </a></li>
            <li><a href="#" > (Re)search </a></li>
            <li><a href="#" > Reading </a></li>
            <li><a href="http://learnline.cdu.edu.au/studyskills/index.html" > StudySkills </a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--content-->
  </body>
  <!--Go to top-->
  <div class="upButton">
    <a href=#Top_of_page><img src="images/up_btn.png" id="fixedbutton" title="Click Me To Go Up"></a>
  </div>
  <script type="text/javascript" src="js/scripts.js"></script>
</html>
